In [1]:
#complex number

A=1+2j
print(A)
print(type(A))

(1+2j)
<class 'complex'>

In [1]:
#string

s='i am learning'
print(s)
print(id(s))
print(type(s))
print(s[3])
print(s[2:6])

i am learning
1859618015920
<class 'str'>
m
am l

In [2]:
#list
#Lists are mutable
#can be accessed through index value
#[] indicated

lst=['adsf',678879,'ashn@gmail.com',456576,'rdhthfy',476]
print(lst)
print(id(lst))
print(type(lst))
lst[2]="svd"
print(lst)
print(lst[2])
#print(lst[2][5])
print(lst)

['adsf', 678879, 'ashn@gmail.com', 456576, 'rdhthfy', 476]
1859617603776
<class 'list'>
['adsf', 678879, 'svd', 456576, 'rdhthfy', 476]
svd
['adsf', 678879, 'svd', 456576, 'rdhthfy', 476]

In [9]:
#list

list=["anusha",234353,"an@gmail.com","an@gmail.com","ash",234353,"ash@gmail.com"]
print(list)
print(type(list))       #mutable 
list[2]="ann@gmail.com"
list[3]="ann@gmail.com"
print(list)
print(list[0][3])

['anusha', 234353, 'an@gmail.com', 'an@gmail.com', 'ash', 234353, 'ash@gmail.com']
<class 'list'>
['anusha', 234353, 'ann@gmail.com', 'ann@gmail.com', 'ash', 234353, 'ash@gmail.com']
s

In [3]:
#tuple
#tuples are immutable
#can be accessed through index value
#() indicated

a1=('indc',23,435.0)
a2=(4,'sef',345.8)

#a3=[a1+a2]
a3=(a1+a2)
print(a3)

print(a1)
print(a2)
print(type(a2))
print(a1[2])
#a2[2]=9

('indc', 23, 435.0, 4, 'sef', 345.8)
('indc', 23, 435.0)
(4, 'sef', 345.8)
<class 'tuple'>
435.0

In [19]:
#tuples

tuples=("anusha",234353,"an@gmail.com","an@gmail.com","ash",234353,"ash@gmail.com")
print(tuples)
print(type(tuples))     #immutable

print(tuples)
print(tuples[0][3])

('anusha', 234353, 'an@gmail.com', 'an@gmail.com', 'ash', 234353, 'ash@gmail.com')
<class 'tuple'>
('anusha', 234353, 'an@gmail.com', 'an@gmail.com', 'ash', 234353, 'ash@gmail.com')
s

In [25]:
#Adding tuples or List

A1=(1,'hi',7.8)
A2=(2,"hello",0,3)
A3=[A1+A2]          #list 
print(type(A3))
A3=(A1+A2)          # tuple
print(A3)
print(type(A3))
print(type(A2))
print(type(A1))

<class 'list'>
(1, 'hi', 7.8, 2, 'hello', 0, 3)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [4]:
#dictionary
#dynamic
#they have nested values
#{} indicated

d={'a' : 'aple', 'b' : 'bat', 'c' : 'cat', 1 : 'dog'}
new={'new1' : "hello"}

print(d)
print(type(d))
print(d['a'])
print(d[1])
new['new1']
new['new1']=" new hello"
print(new['new1'])

{'a': 'aple', 'b': 'bat', 'c': 'cat', 1: 'dog'}
<class 'dict'>
aple
dog
 new hello

In [44]:
#Dictionary

d={'a':'apple','b':'banana'}
t={"2343535":"anusha"}
print(d)
print(d['b'])

t['2343535']="ash"
print(t['2343535'])
t['2343535']

{'a': 'apple', 'b': 'banana'}
banana
ash

'ash'

In [5]:
#conversion of one data type to another
#list to tuple and vice versa
#set to tuple and vice versa
#list to set and vice versa
#string to list and vice versa not possible

In [43]:
#string to list 
A=[1,2,3,4,5]
A="i am learning"
print(A)
print(type(A))

S=tuple(A)


#list to string not possible
T=list(A)
E=string(T)
print(S)
print(type(S))
print(T)
print(type(T))

i am learning
<class 'str'>

TypeError: 'list' object is not callable

In [41]:
#string

S="i am learning"
print(S)
print(id(S))
print(S[3])
print(S[2:6])

i am learning
2616648109296
m
am l

In [6]:
A={1,2,45,6,7}
#A="i am learning"
print(A)
print(type(A))

#S=tuple(A)
T=str(A)
#T=list(A)

#E=string(T)
print(S)
print(type(S))

print(T)
print(type(T))

{1, 2, 6, 7, 45}
<class 'set'>

NameError: name 'S' is not defined